################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestAPIWithHanaGenericRepository/v16
/TestAPIWithHanaGenericRepository/bin/Debug/netcoreapp3.1
/TestAPIWithHanaGenericRepository/obj
